<?xml version="1.0"?>
<model>
  <name>Gates First Floor</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>CVGL Stanford University</name>
    <email>pgoebel@stanford.edu</email>
  </author>

  <description>
    First floor of the Gates building using Matterport scan data
  </description>
</model>
